
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form class="form-inline" (ngSubmit)="addTask()" #taskForm="ngForm">
                <div class="form-group">
                    <label for="content-field" class="sr-only"></label>
                    <input type="text" id="content-field" required placeholder="Enter a task .." class="form-control" [(ngModel)]="currentTasks.content" name="content">
                </div>
                <button class="btn btn-primary" [disabled]="taskForm.form.invalid">Add Task</button>
                
            </form>
        </div>
    </div>
    <div class="row">
        <app-card *ngFor="let task of tasks" [task]="task"></app-card>
    </div>
    
</div>