.card{
    border-radius: 0px;
}

.card,.card-footer{
    background-color: #ffffa5;
    border: none;
}

.card.completed,
.card.completed .card-footer{
    background-color:#eee;
    color: #ccc;
}
.card-footer{
    text-align: right;
}

i{
    color: #ca0000;
    padding-right:.5rem;
}